{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category }}{% endblock title %}
{% block content %}
    <section class="categoryProducts-content">
        <h2 class="mb-4">{{ category }}</h2>
        <!-- Product list-->
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3 mb-4">
                    <div class="card rounded mx-0" style=" width: 230px; height: 350px">
                        <img class="card-img" src="{{ product.image }}">
                        <div class="card-body">
                            <h6 class="card-title"><a href="{% url 'product-detail' product.barcode %}">{{ product.name }}</a></h6>
                            {% if product.grade == "None" %}
                                <span class="badge badge-pill badge-dark">{{ product.grade }}</span>
                            {% elif product.grade >= 80 %}
                                <span class="badge badge-pill badge-success">{{ product.grade }}</span>
                            {% elif product.grade < 50 %}
                                <span class="badge badge-pill badge-danger">{{ product.grade }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-warning">{{ product.grade }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}